/* Hieu iceTea */


/* Xử lý cuộn mượt */

html {
    scroll-behavior: smooth;
}


/* Xử lý font */

@font-face {
    font-family: "Open Sans";
    src: url("/font/OpenSans-Light.ttf");
}


/* END Xử lý font */

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Open Sans', sans-serif; */
}


/* Xử lý khu vực khuyến mãi */

.area-promotion {
    background-color: #82e9de;
}


/* Xử lý khu vực khuyến mãi */


/* Xử lý menu nav bar */


/* LOGO */

.my-navbar .navbar-brand img {
    width: 138px;
    height: 35px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    box-shadow: .2rem .2rem 2rem rgba(0, 0, 0, .175)!important;
}

.my-navbar .active {
    border-bottom: solid #17a2b8 3px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important; */
}

.my-navbar .nav-item {
    transition: all 0.2s ease;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.my-navbar .nav-item:hover {
    border-bottom: solid #17a2b8 3px;
}

.my-navbar .dropdown-content {
    overflow: hidden;
    min-width: 120px;
    z-index: 2;
}

.my-navbar .dropdown-item {
    transition: all 0.2s ease;
    overflow: hidden;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.my-navbar .dropdown-item:hover {
    color: #00867d;
    margin-left: 4px;
    font-weight: 600;
}

.my-navbar .dropdown-divider {
    margin: 1px;
}

.my-navbar .nav-link {
    font-size: 1.15rem;
}

.my-navbar .dropdown-content {
    margin-top: 3px;
}

.my-navbar {
    margin: 0px;
    padding: 0px;
}


/* END Xử lý menu nav bar */


/* END Xử lý menu nav bar */


/* Xử lý list-product-title */

.list-product-title {
    width: 100%;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
}

.list-product-subtitle {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}


/* END Xử lý list-product-title */


/* Xử lý Card Product */

.card-product {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
}

.product-title {
    /* !important */
    margin-bottom: 0.25rem;
}

.product-price {
    margin-bottom: 5px;
}

.del-price {
    text-decoration: line-through;
    margin-left: 5px;
    margin-right: 5px;
}

.new-price {
    color: #e07020;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.sale-sticky {
    color: white;
    background-color: #f90;
    display: block;
    text-align: center;
    width: 120px;
    position: absolute;
    top: 10px;
    right: -38px;
    transform: rotate(45deg);
}

.product-image {
    overflow: hidden;
}

.card-product img {
    transition: all 0.6s ease;
}

.card-product:hover img {
    transform: scale(1.5) rotate(5deg);
}


/* END Xử lý Card Product */


/* footer */

.page-footer {
    color: #4f4f4f;
    background-color: #eceff1;
}

.page-footer hr {
    background-color: #4db6ac;
}

.footer-title {
    background-color: #4db6ac;
}

.footer-title a,
.footer-copyright a {
    color: #4f4f4f;
    text-decoration: none !important;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    transition: 0.3s all ease;
    display: inline-block;
    cursor: pointer !important;
}

.footer-title a:hover {
    font-size: 30px;
    margin: -20px -6px;
}

.footer-copyright {
    background-color: rgba(0, 0, 0, 0.2);
}


/* end footer */


/* Xử lý nút mua hàng trôi nổi */

.btn-cart-float {
    position: fixed;
    width: 90px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    /* background-color: #0c9; */
    background-color: #0277bd;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 4px 4px 6px #3d3b3b;
    opacity: 0.75;
    transition: 0.2s all ease-in-out;
}

.btn-cart-float i {
    display: inline-block;
    font-size: 1.6rem;
    margin-top: 18px;
    margin-left: -3px;
    transition: 0.18s all ease-in-out;
}

.btn-cart-float .noti-sticky {
    color: white;
    background-color: #f90;
    display: block;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    opacity: 0.95;
    box-shadow: 3px 1px 3px #999;
}

.btn-cart-float:hover i {
    color: #ff9800;
    margin-left: -8px;
    transform: scale(1.15) rotate(-10deg);
}

.btn-cart-float:hover {
    opacity: 0.95;
    margin: 6px 10px;
    transform: scale(1.15);
}

.my-link a {
    color: #4f4f4f;
    text-decoration: none !important;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    transition: 0.3s all ease;
    display: inline-block;
    cursor: pointer !important;
}

.my-link a:hover {
    color: #00867d;
    margin-left: 5px;
    font-weight: 700;
}


/* END Xử lý nút mua hàng trôi nổi */


/* Xử lý phần khách hàng bình luận về sản phẩm */

.my-customer-review img {
    overflow: hidden;
    transition: all 0.6s ease;
}

.my-customer-review .row:hover img {
    transform: scale(1.6) rotate(5deg);
}

.my-customer-review .text-center:hover .my-link {
    color: #00867d;
    margin-left: 5px;
    font-weight: 700;
}

.my-customer-review .my-link {
    color: #4f4f4f;
    text-decoration: none !important;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    transition: 0.3s all ease;
    display: inline-block;
    cursor: pointer !important;
}

.my-customer-review .my-link:hover {
    color: #00867d;
    margin-left: 5px;
    font-weight: 700;
}


/* END Xử lý phần khách hàng bình luận về sản phẩm */


/* Our Team */

.our-team-header {
    text-align: center;
    padding-top: 1.08em;
    padding-bottom: 0.8em;
    /* color: inherit; */
    font-weight: 400;
    font-size: 2.8em;
    font-size: 3rem;
    font-family: "Trade Gothic W01", Helvetica, arial, "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
    /* line-height: 1.2em; */
    text-transform: uppercase;
    letter-spacing: 2px;
}

.our-team {
    /* background-color: #1f1f1f; */
    transition: all 0.5s ease 0s;
}

.our-team:hover {
    transform: scale(1.2) translateY(-3px);
}

.my-our-team .our-team {
    padding: 20px 15px 30px;
    /* background: #e3f2fdc5; */
    background: #e8eaf6c5;
    border-radius: 15px;
    text-align: center;
}

.my-our-team .our-team .pic {
    /* display: inline-block; */
    /* width: 100%; */
    /* height: 100%; */
    /* background: white; */
    padding: 10px;
    margin-bottom: 25px;
    transition: all 0.5s ease 0.1s;
}

.my-our-team .our-team:hover .pic {
    background: #17bebb;
    border-radius: 50%;
}

.my-our-team .our-team .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.my-our-team .our-team .title {
    display: block;
    font-size: 21px;
    font-weight: 600;
    color: #2e282a;
    text-transform: uppercase;
    margin: 0 0 7px 0;
    transition: all 0.5s ease 0s;
}

.my-our-team .our-team:hover .title {
    transform: scale(1.05);
}

.my-our-team .our-team .post {
    display: block;
    font-size: 16px;
    /* font-weight: 500 !important; */
    color: #17bebb;
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: all 0.5s ease 0s;
}

.my-our-team .our-team:hover .post {
    transform: scale(1.1);
    color: #17a2b8;
}

.my-our-team .our-team .social {
    padding: 0;
    margin: 0;
    list-style: none;
}

.my-our-team .our-team .social li a {
    background: #17bebb;
    color: white;
    text-decoration: none;
}

.my-our-team .our-team .social li {
    display: inline-block;
}

.my-our-team .our-team .social li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    border-color: #17bebb;
    transition: all 0.5s ease 0s;
}

.my-our-team .our-team:hover .social li a {
    background: #17a2b8;
    color: white;
}

.my-our-team .our-team .social li a:hover {
    transform: scale(1.2) translateY(-3px);
}


/* END Our Team */


/* END Hieu iceTea */


/* Tuân */

.green {
    background-color: green;
}

.br-grey {
    background-color: #f3eded;
}

.sz {
    font-size: 200px;
}

.star {
    color: #f90;
}

.pd {
    padding-top: 67px;
}

.s-phone {
    width: auto;
    height: 55px;
    text-align: center;
    padding-top: 16px;
    margin-top: 2rem !important;
}

.s-buy {
    width: 68%;
}

.dot {
    list-style: none;
}

.kt {
    display: none;
}

.hv:hover>ul {
    display: block;
}

.support-header {
    text-align: center;
    text-transform: uppercase;
    text-shadow: black;
    font-size: 2rem;
    font-weight: bold;
}

.support-send-form {
    padding-top: 1rem;
}


/* END Tuân */


/* Tùng */


/* Cart & Payment */

.modal-maxwidth {
    max-width: 800px !important;
}

.rounded-lg {
    border-radius: 1rem;
}

.nav-pills .nav-link {
    color: #555;
}

.nav-pills .nav-link.active {
    color: #fff;
}

.payment-note {
    color: red;
}


/* END Cart & Payment*/


/* about */

.factory-image {
    background-image: url("../img/factory.jpg");
    background-size: cover;
    background-position: bottom;
    height: 500px;
    width: 100%;
}

.factory-icon {
    text-align: center;
    text-shadow: currentColor;
    color: whitesmoke;
    font-size: 5rem;
    text-decoration: none;
}

.factory-p {
    font-size: 5rem;
    color: whitesmoke;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

.information-header {
    background: #fff;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1em;
    color: inherit;
    font-weight: 400;
    font-size: 3rem;
    font-family: "Trade Gothic W01", Helvetica, arial, "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.8em;
}

.information-map {
    padding-top: 5rem;
}

.information-data {
    width: 100%;
}

.information-p {
    padding-top: 2rem;
    text-align: center;
}


/*end about */


/* END Tùng */


/* Huy */

.my-aside-menu .card-header {
    background-color: #4db6ac !important;
    color: white;
    font-size: 1.2rem;
}

.my-aside-menu .card-text {
    margin-bottom: 0.5rem;
}


/* END Huy */