/* Hieu iceTea */


/* Xử lý cuộn mượt */

html {
    scroll-behavior: smooth;
}


/* Xử lý font */

@font-face {
    font-family: "Open Sans";
    src: url("/font/OpenSans-Light.ttf");
}


/* END Xử lý font */

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Open Sans', sans-serif; */
}


/* Xử lý menu nav bar */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.my-navbar .active {
    border-bottom: solid #1de9b6 3px;
}

.my-navbar .nav-item {
    transition: all 0.2s ease;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.my-navbar .nav-item:hover {
    border-bottom: solid #1de9b6 3px;
    color: #1de9b6;
}

.my-navbar .dropdown-content {
    overflow: hidden;
    min-width: 120px;
}

.my-navbar .dropdown-item {
    transition: all 0.2s ease;
    overflow: hidden;
}

.my-navbar .dropdown-item:hover {
    color: #1de9b6;
    margin-left: 4px;
    font-weight: 600;
}

.my-navbar .nav-link {
    font-size: 1.15rem;
}

.my-navbar .dropdown-content {
    margin-top: 3px;
}

.my-navbar {
    margin: 0px;
    padding: 0px;
}


/* END Xử lý menu nav bar */


/* Xử lý slide */

.my-slide {
    /* display: flex; */
    /* align-items: center; */
}

img {
    /* max-height: 350px; */
    /* object-fit: cover; */
    /* justify-content: center; */
}


/* END Xử lý slide */


/* END Xử lý menu nav bar */


/* Xử lý list-product-title */

.list-product-title {
    width: 100%;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
}

.list-product-subtitle {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}


/* END Xử lý list-product-title */


/* Xử lý Card Product */

.card-product {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
}

.product-title {
    /* !important */
    margin-bottom: 0.25rem;
}

.product-price {
    margin-bottom: 5px;
}

.del-price {
    text-decoration: line-through;
    margin-left: 5px;
    margin-right: 5px;
}

.new-price {
    color: #e07020;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.sale-sticky {
    color: white;
    background-color: #f90;
    display: block;
    text-align: center;
    width: 120px;
    position: absolute;
    top: 10px;
    right: -38px;
    transform: rotate(45deg);
}

.product-image {
    overflow: hidden;
}

.card-product img {
    transition: all 0.6s ease;
}

.card-product:hover img {
    transform: scale(1.5) rotate(5deg);
}


/* END Xử lý Card Product */


/* footer */

.page-footer {
    color: #4f4f4f;
    background-color: #eceff1;
}

.page-footer hr {
    background-color: #1de9b6;
}

.page-footer a {
    color: #4f4f4f;
    text-decoration: none !important;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    transition: 0.3s all ease;
    display: inline-block;
}

.footer-title a:hover {
    font-size: 30px;
    margin: -20px -6px;
}

.footer-content a:hover {
    color: #21d192;
    margin-left: 5px;
    font-weight: 700;
}

.footer-copyright {
    background-color: rgba(0, 0, 0, 0.2);
}


/* end footer */


/* Xử lý nút mua hàng trôi nổi */

.btn-cart-float {
    position: fixed;
    width: 90px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    /* background-color: #0c9; */
    background-color: #0277bd;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 4px 4px 6px #999;
    opacity: 0.75;
    transition: 0.2s all ease-in-out;
}

.btn-cart-float i {
    display: inline-block;
    font-size: 1.6rem;
    margin-top: 18px;
    margin-left: -3px;
    transition: 0.18s all ease-in-out;
}

.btn-cart-float .noti-sticky {
    color: white;
    background-color: #f90;
    display: block;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    opacity: 0.95;
}

.btn-cart-float:hover i {
    color: #ff9800;
    margin-left: -8px;
    transform: scale(1.15) rotate(-10deg);
}

.btn-cart-float:hover {
    opacity: 0.95;
    margin: 6px 10px;
    transform: scale(1.15);
}


/* END Xử lý nút mua hàng trôi nổi */


/* tuan */

.my-link a {
    color: #4f4f4f;
    text-decoration: none !important;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    transition: 0.3s all ease;
    display: inline-block;
    cursor: pointer !important;
}

.my-link a:hover {
    color: #21d192;
    margin-left: 5px;
    font-weight: 700;
}

.green {
    background-color: green;
}

.br-grey {
    background-color: #f3eded;
}

.sz {
    font-size: 200px;
}

.star {
    color: #f90;
}

.pd {
    padding-top: 67px;
}

.s-phone {
    width: auto;
    height: 57px;
    text: center;
    padding-top: 17px;
}

.s-buy {
    width: 300px;
}


/* END tuan */


/* Cart & Payment */

.modal-maxwidth {
    max-width: 800px !important;
}

.rounded-lg {
    border-radius: 1rem;
}

.nav-pills .nav-link {
    color: #555;
}

.nav-pills .nav-link.active {
    color: #fff;
}

.payment-note {
    color: red;
}


/* end */


/* about*/

.factory-image {
    background-image: url("/img/factory.jpg");
    background-size: cover;
    background-position: bottom;
    height: 500px;
    width: 100%;
}

.factory-icon {
    text-align: center;
    text-shadow: currentColor;
    color: whitesmoke;
    font-size: 5rem;
    text-decoration: none;
}

.factory-p {
    font-size: 5rem;
    color: whitesmoke;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}


/*end*/


/* Huy */

.my-aside-menu .card-header {
    background-color: #1de9b6 !important;
    color: white;
    font-size: 1.2rem;
}

.my-aside-menu .card-text {
    margin-bottom: 0.5rem;
}


/* END Huy */